---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import QNA from '../components/QNA.astro';
import { type ReadTimeResults } from "reading-time"
import { Icon } from 'astro-icon/components';
import TwBanner from "../assets/tw_banner.png"
import Favicon from "../assets/botsuite_logo_letters_white.png"

type Props = CollectionEntry<'blog'>['data'] & { readingTime: ReadTimeResults };

const { title, description, pubDate, updatedDate, heroImage, tldr, QnA, readingTime, video } = Astro.props;


const schemaDef = JSON.stringify({
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	"headline": title,
	"image": heroImage ? [new URL(heroImage, Astro.url)] : [],
	"datePublished": pubDate.toISOString(),
	"timeRequired": `PT${Math.ceil(readingTime.minutes)}M`,
	...(updatedDate && { "dateModified": updatedDate.toISOString() }),
	"author": [{
		"@type": "Organization",
		"name": "BotSuite",
		"url": Astro.site
	}],
	"publisher": {
		"@type": "Organization",
		"name": "BotSuite",
		"logo": {
			"@type": "ImageObject",
			"url": Favicon.src
		}
	},
	...(video && {
		"video": {
			"@type": "VideoObject",
			"name": video.title,
			"thumbnailUrl": `https://i.ytimg.com/vi/${video.videoID}/maxresdefault.jpg`,
			"uploadDate": video.published_at.toISOString(),
			"embedUrl": `https://www.youtube.com/embed/${video.videoID}`
		}
	})
})

const faqSchema = JSON.stringify({
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": QnA?.map((item) => ({
        "@type": "Question",
        "name": item.question,
        "acceptedAnswer": {
            "@type": "Answer",
            "text": item.answer
        }
    }))
})

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<script is:inline type="application/ld+json" set:html={schemaDef} />
		{QnA && <script is:inline type="application/ld+json" set:html={faqSchema} />}
	</head>

	<body>
		<Header />
		<main>

			<article>
				<div class="hero-image">
					<img loading="eager" width={1020} height={510} src={heroImage} alt={title} />
				</div>

				
				<div class="title">
					<h1>{title}</h1>
					<div class="date">
						<p><Icon name={"mdi:access-time"} /> { readingTime.text }</p>
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
				</div>
				{tldr && (
				<div class="tldr"> 
					<h2>TL;DR</h2> 
					<Fragment set:html={tldr} /> 
				</div>
				)}
				{video && (
				<div class="video-wrapper">
					<iframe 
					src={`https://www.youtube.com/embed/${video.videoID}`}
					title="YouTube video player" 
					frameborder="0" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen
					></iframe>
				</div>
				)}

				<slot />
			

				{QnA && <QNA questions={QnA} />}
			</article>

		</main>

		<div style={`background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(${TwBanner.src});`} class="cta">
			<h3>Let's get your Discord threads organized!</h3>
			<a aria-label="Invite Thread-Watcher to your Discord server" href="https://threadwatcher.xyz/invite">
				<Icon name={"mdi:discord"} />
				Invite
			</a>
		</div>

		<Footer />
	</body>
</html>

<style>

.video-wrapper {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: 2rem 0;
  }
.video-wrapper iframe {
width: 100%;
height: 100%;
border-radius: 12px;
}

.tldr {
	padding: 1rem;
	background-color: var(--content-bg);
	border: 1px solid var(--border);
	margin-bottom: 1rem;

	h2 {
		font-size: 1.25rem;
		margin-bottom: 0;
		padding-bottom: 0;
		opacity: .67;
	}

	p {
		margin-bottom: 0;
	}
}

.hero-image {
	width: 100%;
}
.hero-image img {
	display: block;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: var(--box-shadow);
}
.title {
	margin-bottom: 1em;
	padding: 1em 0;
	line-height: 1;
}
.title h1 {
	margin: 0 0 0.25em 0;
}
.date {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
	gap: 1rem;

	p {
		margin: 0;
		padding: .35rem .5rem;
		border-radius: .25rem;
		background-color: var(--content-bg);
		border: 1px solid var(--border);
		display: flex;
		align-items: center;
		gap: .33rem;
	}
}
.last-updated-on {
	font-style: italic;
}


.cta {
	height: 200px;
	width: 100%;
	padding: 1rem;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

	a {
		display: flex;
		align-items: center;
		gap: .5rem;
		background-color: var(--accent);
		padding: 0.2rem 1rem;
		font-size: 1.2rem;
		color: white;
		text-decoration: none;
		border-radius: .25rem;
	}
}
</style>